@using System.Linq
@using Dit.Umb.Mutobo.Constants
@model Dit.Umb.Mutobo.Configuration.FooterConfiguration
<o-footer namespace="footer-">
    @{
        var index = 0;
    }
    <style>
        :host {
            background-color: rgba(62, 79, 42, 0.8);
        }
    </style>







        @if (Model.FooterLinks != null && Model.FooterLinks.Any())
        {
            <ul>
                @foreach (var link in Model.FooterLinks)
                {
                    <li >
                        <a href="@link.Url" target="@link.Target">
                            @link.Name
                        </a>
                    </li>
                }
                <li><br /></li>

                @if (Model.HasValue(DocumentTypes.FooterConfiguration.Fields.CopyRight))
                {
                    <li>
                        <span>
                            @Html.Raw(Model.Copyright)
                        </span>
                        <span>
                            <a style="font-size: 0.5rem;" href="https://schenk-smart-solutions.ch/" target="_blank">
                                Designed & Developed by Schenk-Smart-Solutions
                            </a>
                      
                        </span>
                    </li>

                }

            </ul>
        }
  


    

</o-footer>
