@using Dit.Umb.Mutobo.Constants
@using Dit.Umb.Mutobo.PoCo
@model Dit.Umb.Mutobo.Modules.Newsletter

@*<a>@Model.Information</a>
<a>@Model.Frequency</a>*@



<br  />
<m-form type="newsletter" namespace="search-" namespace-children="search-field-" use-html-submit>
    @Html.Partial("~/Views/Partials/NewsletterForm.cshtml", new NewsletterForm())
</m-form>



