
@using Umbraco.Web.Composing
@model Dit.Umb.Mutobo.PoCo.SearchFormModel
<m-form type="search" namespace="search-">
    @using (Html.BeginUmbracoForm("PostData", "SearchForm", FormMethod.Post))
    {
        <a-input type="text" namespace="search-field-">
            @Html.Label("TRANSLATE")"")
            @Html.TextBoxFor(m => m.SearchTerm, new { placeholder = "TRANSLATE"})
        </a-input>
        <a-button src="~/assets/img/yellow/LUPE.svg" namespace="search-button-">
            <button type="submit" aria-label="TRANSLATE">
            </button>
        </a-button>
    }
</m-form>
