<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb371b90-f05e-4760-a072-0a75e2408da3" Alias="AccordeonItem - summary - Textbox" Level="1">
  <Info>
    <Name>AccordeonItem - summary - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>