<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2aba5fca-46ab-457e-8d4f-76b299e6032d" Alias="All Modules" Level="1">
  <Info>
    <Name>All Modules</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "teaser",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    },
    {
      "ncAlias": "heading",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    },
    {
      "ncAlias": "videoComponent",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    },
    {
      "ncAlias": "richTextComponent",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    },
    {
      "ncAlias": "flyer",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    },
    {
      "ncAlias": "sliderComponent",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    },
    {
      "ncAlias": "pictureModule",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    },
    {
      "ncAlias": "cardContainer",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    },
    {
      "ncAlias": "callForIdeas",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    },
    {
      "ncAlias": "accordeon",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    },
    {
      "ncAlias": "quote",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>