<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5431d18-99ae-476f-9048-b7990673bf97" Alias="ArtistListComponent - Typ - Dropdown" Level="1">
  <Info>
    <Name>ArtistListComponent - Typ - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "All"
    },
    {
      "id": 2,
      "value": "Orchestra"
    },
    {
      "id": 3,
      "value": "Conductor"
    },
    {
      "id": 4,
      "value": "Soloist"
    },
    {
      "id": 5,
      "value": "Composer"
    }
  ]
}]]></Config>
</DataType>