<?xml version="1.0" encoding="utf-8"?>
<DataType Key="68900af6-c305-4bbf-a243-e2521e21fd6a" Alias="ArtistListComponent - parentNode - Content Picker" Level="1">
  <Info>
    <Name>ArtistListComponent - parentNode - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/128c608ab1bf458898117b40246cfb82",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>