<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1e875743-6b13-4292-a6d1-e513db8affac" Alias="BasePage - FooterConfiguration - Nested Content" Level="1">
  <Info>
    <Name>BasePage - FooterConfiguration - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "footerConfiguration",
      "ncTabAlias": "Footer Data",
      "nameTemplate": ""
    }
  ],
  "MinItems": 0,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>