<?xml version="1.0" encoding="utf-8"?>
<DataType Key="011fb59c-77a8-4717-8516-a735c7b3ad0b" Alias="BasePage - HeaderConfiguration - Nested Content" Level="1">
  <Info>
    <Name>BasePage - HeaderConfiguration - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "headerConfiguration",
      "ncTabAlias": "Header Data",
      "nameTemplate": ""
    }
  ],
  "MinItems": 0,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>