<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6bdebf01-5724-406c-accf-85a453ce5342" Alias="BasePage - Search Engine Relative Priority - Slider" Level="1">
  <Info>
    <Name>BasePage - Search Engine Relative Priority - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.5,
  "InitialValue2": 0.0,
  "MinimumValue": 0.1,
  "MaximumValue": 1.0,
  "StepIncrements": 0.1
}]]></Config>
</DataType>