<?xml version="1.0" encoding="utf-8"?>
<DataType Key="adc2d113-686d-46da-8794-f30e1933873b" Alias="BasePage - Theme- Nested Content" Level="1">
  <Info>
    <Name>BasePage - Theme- Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "theme",
      "ncTabAlias": "Colors",
      "nameTemplate": ""
    }
  ],
  "MinItems": 0,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>