<?xml version="1.0" encoding="utf-8"?>
<DataType Key="533ff1bd-f41a-4e39-a818-c47613b15c95" Alias="Basis Seite - Suchmaschinenfrequenz - Dropdown" Level="1">
  <Info>
    <Name>Basis Seite - Suchmaschinenfrequenz - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "always"
    },
    {
      "id": 2,
      "value": "hourly"
    },
    {
      "id": 3,
      "value": "daily"
    },
    {
      "id": 4,
      "value": "weekly"
    },
    {
      "id": 5,
      "value": "monthly"
    },
    {
      "id": 6,
      "value": "yearly"
    },
    {
      "id": 7,
      "value": "never"
    }
  ]
}]]></Config>
</DataType>