<?xml version="1.0" encoding="utf-8"?>
<DataType Key="551af5a0-7fe3-4aa6-b290-7ee3d24748b1" Alias="Bild - Hotspot - Image Hotspot" Level="1">
  <Info>
    <Name>Bild - Hotspot - Image Hotspot</Name>
    <EditorAlias>Vokseverk.ImageHotspot</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "imageSrc": "image",
  "width": 400,
  "theme": 1
}]]></Config>
</DataType>