<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0de627f-3f65-4ac2-9d72-02b4506bb673" Alias="Bild Modul - width - Numeric" Level="1">
  <Info>
    <Name>Bild Modul - width - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>