<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aaf27d2c-e7af-4966-942e-41f78439a863" Alias="BlogModule - parentPage - Content Picker" Level="1">
  <Info>
    <Name>BlogModule - parentPage - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>