<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb0ed4f5-7ba2-4f23-9309-6ced156dff10" Alias="Card - Image - Media Picker" Level="1">
  <Info>
    <Name>Card - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>