<?xml version="1.0" encoding="utf-8"?>
<DataType Key="531f9723-7bb7-4b5d-a2d6-ceaadb7ad32b" Alias="Card - Content Picker" Level="1">
  <Info>
    <Name>Card - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>