<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2d20e31e-6f93-4949-91a4-ad1570104fed" Alias="Card Container - Nested Content" Level="1">
  <Info>
    <Name>Card Container - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "personnelCard",
      "ncTabAlias": "Card Data",
      "nameTemplate": ""
    },
    {
      "ncAlias": "card",
      "ncTabAlias": "Card Data",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>