<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c30fc45c-ff0c-44d6-ae5d-d1876381caba" Alias="Club Konzert - Orchestra - Content Picker" Level="1">
  <Info>
    <Name>Club Konzert - Orchestra - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>