<?xml version="1.0" encoding="utf-8"?>
<DataType Key="496773b0-ac8a-481c-9f99-82d6c1874d94" Alias="Club Konzert - Artists - Multinode Treepicker" Level="1">
  <Info>
    <Name>Club Konzert - Artists - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": true,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>