<?xml version="1.0" encoding="utf-8"?>
<DataType Key="21edb2ca-3903-4e64-8475-25c9aeae18f2" Alias="Club Konzert - Orchestra - Multinode Treepicker" Level="1">
  <Info>
    <Name>Club Konzert - Orchestra - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>