<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91676270-e412-4250-bf56-e8bd127528de" Alias="Concerts - Locations of Events - Nested Content" Level="1">
  <Info>
    <Name>Concerts - Locations of Events - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "locationsOfEvents",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    }
  ],
  "MinItems": 0,
  "MaxItems": 0,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>