<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6cf482a8-bf44-4526-8c6f-361c84ad69b0" Alias="Concert - cities - Multinode Treepicker" Level="1">
  <Info>
    <Name>Concert - cities - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "",
    "id": null
  },
  "Filter": "city",
  "MinNumber": 1,
  "MaxNumber": 0,
  "ShowOpen": true,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>