<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f71a4509-659c-4ccb-98cc-d3158c2e371a" Alias="Event Ort - Event Ort - Nested Content" Level="1">
  <Info>
    <Name>Event Ort - Event Ort - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "concertLocations",
      "ncTabAlias": "Location Data",
      "nameTemplate": ""
    }
  ],
  "MinItems": 1,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>