<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e91c4617-9d52-4073-8fe8-0b0352c70407" Alias="Flyer - rotation - Slider" Level="1">
  <Info>
    <Name>Flyer - rotation - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.0,
  "InitialValue2": 0.0,
  "MinimumValue": -20.0,
  "MaximumValue": 20.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>