<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5c835595-2c6b-4179-8896-71f84cf96600" Alias="Flyer - textHeight - Numeric" Level="1">
  <Info>
    <Name>Flyer - textHeight - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 0
}]]></Config>
</DataType>