<?xml version="1.0" encoding="utf-8"?>
<DataType Key="135e2457-ddac-4781-a7c9-cc504f1d6acd" Alias="Flyer - Direction - Dropdown" Level="1">
  <Info>
    <Name>Flyer - Direction - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Right"
    }
  ]
}]]></Config>
</DataType>