<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a39083a-b733-4d1d-bdc7-5ee17696fc35" Alias="Flyer - textWidth - Numeric" Level="1">
  <Info>
    <Name>Flyer - textWidth - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>