<?xml version="1.0" encoding="utf-8"?>
<DataType Key="413035f0-f866-4166-9631-5ae93bec4b27" Alias="Flyer - Position - Dropdown" Level="1">
  <Info>
    <Name>Flyer - Position - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 2,
      "value": "Fixed"
    },
    {
      "id": 3,
      "value": "Undefined"
    }
  ]
}]]></Config>
</DataType>