<?xml version="1.0" encoding="utf-8"?>
<DataType Key="12f81ca6-d98f-4a41-aa16-6c0bdd94c537" Alias="Flyer - Slider" Level="1">
  <Info>
    <Name>Flyer - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.0,
  "InitialValue2": 0.0,
  "MinimumValue": 0.0,
  "MaximumValue": 10.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>