<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e539c6d-f976-4efc-a003-e796ed36ea54" Alias="Footer Configuration - Link Area" Level="1">
  <Info>
    <Name>Footer Configuration - Link Area</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "links",
      "ncTabAlias": "Link Area",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>