<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d325859-6736-4674-96e4-672a5cc79203" Alias="Footer Configuration - PictureLinks - Nested Content" Level="1">
  <Info>
    <Name>Footer Configuration - PictureLinks - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "pictureLink",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    }
  ],
  "MinItems": 0,
  "MaxItems": 3,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>