<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a48d2d0b-53d5-44df-9b69-d570713e7672" Alias="Footer Configuration - AdressArea" Level="1">
  <Info>
    <Name>Footer Configuration - AdressArea</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "contact",
      "ncTabAlias": "Contact Data",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>