<?xml version="1.0" encoding="utf-8"?>
<DataType Key="73c12f65-262a-4dca-9c15-c03b10439435" Alias="Footer Configuration - Navigation Area" Level="1">
  <Info>
    <Name>Footer Configuration - Navigation Area</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "navBlock",
      "ncTabAlias": "Nav Block Data",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>