<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac095e6b-e617-4252-b20a-bec291a82755" Alias="FormPage - Mailkonfiguration - Content Picker" Level="1">
  <Info>
    <Name>FormPage - Mailkonfiguration - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": true,
  "StartNodeId": "umb://document/fb76bf1cd203451187fdd43488ed7dad",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>