<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2d8dd7d2-66c2-4711-b0bd-ccaaf5a24660" Alias="FormPage - SuccessPage - Content Picker" Level="1">
  <Info>
    <Name>FormPage - SuccessPage - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": true,
  "StartNodeId": "umb://document/a1a3d47dabbb49f8aab045f772f81386",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>