<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6c3ea04f-5ab0-4a5d-8dae-ead3fa31de01" Alias="Galeriekomponente - Width - Numeric" Level="1">
  <Info>
    <Name>Galeriekomponente - Width - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>