<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2944246d-d0de-404a-a2ac-06ce7f9bdfb6" Alias="Galeriekomponente - Height - Numeric" Level="1">
  <Info>
    <Name>Galeriekomponente - Height - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>