<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1a346b23-ea7e-4d5f-a36b-bdb8bc066285" Alias="Galeriekomponente - DisplayType - Dropdown" Level="1">
  <Info>
    <Name>Galeriekomponente - DisplayType - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Boxed"
    },
    {
      "id": 2,
      "value": "FullWidth"
    }
  ]
}]]></Config>
</DataType>