<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aa02d6b0-2f16-48b7-8569-415fa9aa2046" Alias="Galeriekomponente - Height - Numeric (1)" Level="1">
  <Info>
    <Name>Galeriekomponente - Height - Numeric (1)</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>