<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5954a52-708e-4f17-be5e-3362a3b035fe" Alias="GalleryTeaser - Link - Content Picker" Level="1">
  <Info>
    <Name>GalleryTeaser - Link - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>