<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4cbd1a90-f8c0-4376-8a8a-cc3d5419b3cf" Alias="Heading - RenderAs - Dropdown" Level="1">
  <Info>
    <Name>Heading - RenderAs - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Heading1"
    },
    {
      "id": 2,
      "value": "Heading2"
    },
    {
      "id": 3,
      "value": "Heading3"
    },
    {
      "id": 4,
      "value": "Heading4"
    },
    {
      "id": 5,
      "value": "Heading5"
    },
    {
      "id": 6,
      "value": "Heading6"
    }
  ]
}]]></Config>
</DataType>