<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9fc52708-e144-48d5-b48d-613532f4d572" Alias="Heading - Textbox" Level="1">
  <Info>
    <Name>Heading - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>