<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2aba5fca-46ab-457e-8d4f-76b299e6032d" Alias="HighLightsPage - highLights - Nested Content" Level="1">
  <Info>
    <Name>HighLightsPage - highLights - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "teaser",
      "ncTabAlias": "Teaser Data",
      "nameTemplate": ""
    },
    {
      "ncAlias": "heading",
      "ncTabAlias": "Heading",
      "nameTemplate": ""
    },
    {
      "ncAlias": "videoComponent",
      "ncTabAlias": "Video Data",
      "nameTemplate": ""
    },
    {
      "ncAlias": "richTextComponent",
      "ncTabAlias": "Rich Text Data",
      "nameTemplate": ""
    },
    {
      "ncAlias": "flyer",
      "ncTabAlias": "Flyer",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>