<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0ef56633-ceae-4689-9b18-3b2eeb11aaed" Alias="HomePage - Disturber - Nested Content" Level="1">
  <Info>
    <Name>HomePage - Disturber - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "flyer",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    }
  ],
  "MinItems": 0,
  "MaxItems": 4,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>