<?xml version="1.0" encoding="utf-8"?>
<DataType Key="33843d85-28ad-4e0f-b440-f8cdc94c5f46" Alias="Hotspot Container - Place - Dropdown" Level="1">
  <Info>
    <Name>Hotspot Container - Place - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Right"
    },
    {
      "id": 3,
      "value": "Top"
    },
    {
      "id": 4,
      "value": "Bottom"
    }
  ]
}]]></Config>
</DataType>