<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8fab13b-64b9-4226-8f81-083f140ec929" Alias="Hotspot Container - Position - Image Hotspot" Level="1">
  <Info>
    <Name>Hotspot Container - Position - Image Hotspot</Name>
    <EditorAlias>Vokseverk.ImageHotspot</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "imageSrc": "image",
  "width": 400,
  "theme": "1"
}]]></Config>
</DataType>