<?xml version="1.0" encoding="utf-8"?>
<DataType Key="17422e3d-5924-431d-baf3-7440f20aa356" Alias="Hotspot Container - Hotspot - Multinode Treepicker" Level="1">
  <Info>
    <Name>Hotspot Container - Hotspot - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$root/global/Image-Hotspots[1]",
    "id": null
  },
  "Filter": "imageHotspot",
  "MinNumber": 1,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>