<?xml version="1.0" encoding="utf-8"?>
<DataType Key="134b5861-aece-438e-98c4-18c333c14791" Alias="Image - Media Picker - single" Level="1">
  <Info>
    <Name>Image - Media Picker - single</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>