<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3e60432f-06eb-4d1c-8853-962131347809" Alias="Image mit Hotspots - Hotspots - Nested Content" Level="1">
  <Info>
    <Name>Image mit Hotspots - Hotspots - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "hotspotContainer",
      "ncTabAlias": "Module Settings",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>