<?xml version="1.0" encoding="utf-8"?>
<DataType Key="78c09b86-a232-4c9b-8d93-fcae8ad0104f" Alias="Interesting Facts - Nested Content (1)" Level="1">
  <Info>
    <Name>Interesting Facts - Nested Content (1)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "pictureModule",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    },
    {
      "ncAlias": "videoComponent",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    },
    {
      "ncAlias": "sliderComponent",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>