<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ab872b1c-ab9c-483a-9d01-8027eae5d335" Alias="Interpreter - Dropdown" Level="1">
  <Info>
    <Name>Interpreter - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Composer"
    },
    {
      "id": 2,
      "value": "Conductor"
    },
    {
      "id": 3,
      "value": "Orchestra"
    }
  ]
}]]></Config>
</DataType>