<?xml version="1.0" encoding="utf-8"?>
<DataType Key="26d1de25-a7ab-4786-9c9b-f2629f055387" Alias="interesting facts - Nested Content" Level="1">
  <Info>
    <Name>interesting facts - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "interestingFacts",
      "ncTabAlias": "Seiteninhalt",
      "nameTemplate": ""
    },
    {
      "ncAlias": "heading",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": false,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>