<?xml version="1.0" encoding="utf-8"?>
<DataType Key="910aa46b-b880-40d9-8655-f5c33b01539d" Alias="isPushNews - Toggle" Level="1">
  <Info>
    <Name>isPushNews - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>