<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ff89ce7-4768-435e-bb61-ff075c336687" Alias="LocationProgram - Content Picker" Level="1">
  <Info>
    <Name>LocationProgram - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/7ee5d208b964400b89d872151e9dd676",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>