<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53ca1756-8545-431a-8ce6-f53081013f88" Alias="LocationTicketList - Location - Content Picker" Level="1">
  <Info>
    <Name>LocationTicketList - Location - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/7ee5d208b964400b89d872151e9dd676",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>