<?xml version="1.0" encoding="utf-8"?>
<DataType Key="079ec69d-4b83-4d83-aeb7-7475b4433bf1" Alias="Mail Configuration - MailSubject - Textbox" Level="1">
  <Info>
    <Name>Mail Configuration - MailSubject - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 200
}]]></Config>
</DataType>