<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c83d62b9-80cf-4a7f-b9e4-d82409e374df" Alias="Module Fields simple" Level="1">
  <Info>
    <Name>Module Fields simple</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "richTextComponent",
      "ncTabAlias": "Module Settings",
      "nameTemplate": ""
    },
    {
      "ncAlias": "pictureModule",
      "ncTabAlias": "Module Settings",
      "nameTemplate": ""
    },
    {
      "ncAlias": "videoComponent",
      "ncTabAlias": "Module Settings",
      "nameTemplate": ""
    },
    {
      "ncAlias": "heading",
      "ncTabAlias": "Module Settings",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>