<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6e035486-f901-49a2-8172-9fb58b28f37a" Alias="Multi URL Picker - Single" Level="1">
  <Info>
    <Name>Multi URL Picker - Single</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>