<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0875b0e-86d8-44b2-a49e-e505d2b68623" Alias="PlayListComponent - DisplaType - Dropdown" Level="1">
  <Info>
    <Name>PlayListComponent - DisplaType - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "All"
    },
    {
      "id": 2,
      "value": "Future"
    },
    {
      "id": 3,
      "value": "Past"
    }
  ]
}]]></Config>
</DataType>