<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e25b9644-0505-4542-9652-9e5333189152" Alias="PlayListComponent - SortOrder - Dropdown" Level="1">
  <Info>
    <Name>PlayListComponent - SortOrder - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Ascending"
    },
    {
      "id": 2,
      "value": "Descending"
    }
  ]
}]]></Config>
</DataType>