<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c0234dee-04ce-4c8a-bdf8-6fa31c1b92e5" Alias="PlayListComponent - Multinode Treepicker" Level="1">
  <Info>
    <Name>PlayListComponent - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "concertPlayListPage",
  "MinNumber": 1,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>