<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0792bbf4-570a-4f35-a0c3-0065d8f59a89" Alias="ProgramArchiveComponent - SeasonPrograms - Nested Content" Level="1">
  <Info>
    <Name>ProgramArchiveComponent - SeasonPrograms - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "seasonProgramComponent",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>