<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5b7622e6-3f84-46f0-a9ba-c83430740408" Alias="Programm Download - Media Picker" Level="1">
  <Info>
    <Name>Programm Download - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>