<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e0a998ff-6d47-4836-89f9-1a846d105885" Alias="Rich Text Editor Small" Level="1">
  <Info>
    <Name>Rich Text Editor Small</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [
      "/css/rte-club-concerts.css"
    ],
    "maxImageSize": 500,
    "mode": "classic",
    "dimensions": {
      "height": 350
    }
  },
  "OverlaySize": "small",
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>