<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46adee89-99f2-487f-ad96-29170fef7667" Alias="SeasonProgramComponent - Nested Content" Level="1">
  <Info>
    <Name>SeasonProgramComponent - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "locationProgram",
      "ncTabAlias": "Saison Programm",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>