<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91ef9584-4abc-46c8-b0f1-65d5384279e5" Alias="SeasonProgramComponent - FilterType - Dropdown" Level="1">
  <Info>
    <Name>SeasonProgramComponent - FilterType - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "All"
    },
    {
      "id": 2,
      "value": "Orchestra"
    },
    {
      "id": 3,
      "value": "Conductor"
    },
    {
      "id": 4,
      "value": "Soloist"
    },
    {
      "id": 5,
      "value": "Composer"
    }
  ]
}]]></Config>
</DataType>