<?xml version="1.0" encoding="utf-8"?>
<DataType Key="96c229e7-e9a3-41cd-be3a-375e21077ee8" Alias="Seite für ein Konzert  Tournee - artistgalleryHeight - Numeric" Level="1">
  <Info>
    <Name>Seite für ein Konzert  Tournee - artistgalleryHeight - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>