<?xml version="1.0" encoding="utf-8"?>
<DataType Key="84fa9144-cafe-4c3b-b552-67d6abfc0fee" Alias="Seite für ein Konzert  Tournee - artistGalleryWidth - Numeric" Level="1">
  <Info>
    <Name>Seite für ein Konzert  Tournee - artistGalleryWidth - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>