<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2609402-537c-4b36-a06b-108c0acdb422" Alias="Seite für ein Konzert  Tournee - ProgrammAccordeon - Nested Content" Level="1">
  <Info>
    <Name>Seite für ein Konzert  Tournee - ProgrammAccordeon - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "accordeon",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>