<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a47f7f1e-fc97-48f2-ab9b-618d4d682128" Alias="Seite für ein Club Konzert - Veranstaltungsort - Content Picker" Level="1">
  <Info>
    <Name>Seite für ein Club Konzert - Veranstaltungsort - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/128c608ab1bf458898117b40246cfb82",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>