<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6e57c3fc-407d-4128-9697-f8281e1a7c93" Alias="Slider mit Tabs - Tabs - Multinode Treepicker" Level="1">
  <Info>
    <Name>Slider mit Tabs - Tabs - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$root/global/sliderTabs",
    "id": null
  },
  "Filter": "sliderTab",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>