<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb07f534-9290-46bd-b8cf-b9161781dc31" Alias="SliderComponent - Nested Content" Level="1">
  <Info>
    <Name>SliderComponent - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "videoComponent",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    },
    {
      "ncAlias": "picture",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    },
    {
      "ncAlias": "imageTextTeaser",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>