<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8d9a468d-c42f-463b-8906-3ed1f4f94460" Alias="Slider mit Tabs - Hintergrund Fix - Toggle" Level="1">
  <Info>
    <Name>Slider mit Tabs - Hintergrund Fix - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": true,
  "LabelOn": "überschrieben",
  "LabelOff": null
}]]></Config>
</DataType>