<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4a488bb9-6d4f-4cb7-9ab3-f7a77acee48f" Alias="SliderComponent - Nested Content (1)" Level="1">
  <Info>
    <Name>SliderComponent - Nested Content (1)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "videoComponent",
      "ncTabAlias": "Video Data",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>