<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5b87baa5-2d89-466b-b59d-8d658763371d" Alias="Slider Tab - Media - Nested Content" Level="1">
  <Info>
    <Name>Slider Tab - Media - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "pictureModule",
      "ncTabAlias": "Module Settings",
      "nameTemplate": ""
    },
    {
      "ncAlias": "videoComponent",
      "ncTabAlias": "Module Settings",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>