<?xml version="1.0" encoding="utf-8"?>
<DataType Key="de339c6e-a1b0-47d3-84b6-f21d55f6b8e3" Alias="4-Spaltiger Container - Elements - Nested Content" Level="1">
  <Info>
    <Name>4-Spaltiger Container - Elements - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "pictureModule",
      "ncTabAlias": "Module Settings",
      "nameTemplate": ""
    },
    {
      "ncAlias": "pictureLink",
      "ncTabAlias": "Module Settings",
      "nameTemplate": ""
    },
    {
      "ncAlias": "richTextComponent",
      "ncTabAlias": "Module Settings",
      "nameTemplate": ""
    }
  ],
  "MinItems": 4,
  "MaxItems": 4,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>