<?xml version="1.0" encoding="utf-8"?>
<DataType Key="be914520-37db-4678-a7d1-73b0e5bbcfe1" Alias="3-Spaltiger Container - Elements - Nested Content" Level="1">
  <Info>
    <Name>3-Spaltiger Container - Elements - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "pictureModule",
      "ncTabAlias": "Module Settings",
      "nameTemplate": ""
    },
    {
      "ncAlias": "pictureLink",
      "ncTabAlias": "Module Settings",
      "nameTemplate": ""
    },
    {
      "ncAlias": "richTextComponent",
      "ncTabAlias": "Module Settings",
      "nameTemplate": ""
    }
  ],
  "MinItems": 3,
  "MaxItems": 3,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>