<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1b082c2-2f35-48d0-ae9e-b765fa7bb433" Alias="2-spaltiger Container - Elements - Nested Content" Level="1">
  <Info>
    <Name>2-spaltiger Container - Elements - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "pictureLink",
      "ncTabAlias": "Module Settings",
      "nameTemplate": ""
    },
    {
      "ncAlias": "pictureModule",
      "ncTabAlias": "Module Settings",
      "nameTemplate": ""
    },
    {
      "ncAlias": "richTextComponent",
      "ncTabAlias": "Module Settings",
      "nameTemplate": ""
    }
  ],
  "MinItems": 2,
  "MaxItems": 2,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>