<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e9df6e96-071a-4723-ad01-d1af58097c61" Alias="Teaser Page - Image Size" Level="1">
  <Info>
    <Name>Teaser Page - Image Size</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 50,
  "step": 1
}]]></Config>
</DataType>