<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2bd49612-b02d-427e-9bbc-bd4739f06fa0" Alias="Teaser Page - 3er Teaser" Level="1">
  <Info>
    <Name>Teaser Page - 3er Teaser</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 3,
  "ShowOpen": true,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>