<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd613763-04ca-4d3c-9629-f21385aa8b6d" Alias="Teaser Page - Teaser" Level="1">
  <Info>
    <Name>Teaser Page - Teaser</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "articlePage",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": true,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>