<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a402af85-fc04-4a39-a907-44c640c63c68" Alias="Teaser Page - 1er Teaser" Level="1">
  <Info>
    <Name>Teaser Page - 1er Teaser</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "",
    "id": null
  },
  "Filter": "articlePage",
  "MinNumber": 1,
  "MaxNumber": 3,
  "ShowOpen": true,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>