<?xml version="1.0" encoding="utf-8"?>
<DataType Key="26348358-9557-4334-a9a3-8b2e5846f7a5" Alias="Text Bild Galerie - Nested Content" Level="1">
  <Info>
    <Name>Text Bild Galerie - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "textImageSlide",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>