<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e777b695-ccb8-4948-8d13-f619c0f94396" Alias="Textarea - 3 Rows" Level="1">
  <Info>
    <Name>Textarea - 3 Rows</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": 3
}]]></Config>
</DataType>