<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0500a64e-071f-4c8c-863b-216a38b8ec60" Alias="Theme - BackgroundColor - Color Picker" Level="1">
  <Info>
    <Name>Theme - BackgroundColor - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "UseLabel": false,
  "Items": [
    {
      "id": 10,
      "value": "{\"value\":\"009fe3\",\"label\":\"009fe3\"}"
    },
    {
      "id": 11,
      "value": "{\"value\":\"ffed00\",\"label\":\"ffed00\"}"
    },
    {
      "id": 12,
      "value": "{\"value\":\"ffffff\",\"label\":\"ffffff\"}"
    }
  ]
}]]></Config>
</DataType>