<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0500a64e-071f-4c8c-863b-216a38b8ec60" Alias="Theme - BackgroundColor - Color Picker" Level="1">
  <Info>
    <Name>Theme - BackgroundColor - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "UseLabel": false,
  "Items": [
    {
      "id": 13,
      "value": "{\"value\":\"e5c7bc\",\"label\":\"e5c7bc\"}"
    },
    {
      "id": 14,
      "value": "{\"value\":\"692705\",\"label\":\"692705\"}"
    },
    {
      "id": 15,
      "value": "{\"value\":\"ff5700\",\"label\":\"ff5700\"}"
    },
    {
      "id": 16,
      "value": "{\"value\":\"cf8b64\",\"label\":\"cf8b64\"}"
    },
    {
      "id": 17,
      "value": "{\"value\":\"ffeee4\",\"label\":\"ffeee4\"}"
    },
    {
      "id": 18,
      "value": "{\"value\":\"cc0000\",\"label\":\"cc0000\"}"
    }
  ]
}]]></Config>
</DataType>