<?xml version="1.0" encoding="utf-8"?>
<DataType Key="77391fe8-bf10-434d-b0f4-ef0d64fd30a8" Alias="Theme - Dropdown - FontFamily" Level="1">
  <Info>
    <Name>Theme - Dropdown - FontFamily</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 0,
      "value": "FuturaT-Book"
    },
    {
      "id": 1,
      "value": "OPTIFutura-ExtraBlackCond"
    }
  ]
}]]></Config>
</DataType>