<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c9e80dd6-a5d5-4ff7-b46d-7eec923941ea" Alias="Theme - Dropdown" Level="1">
  <Info>
    <Name>Theme - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Cyan"
    },
    {
      "id": 2,
      "value": "Yellow"
    },
    {
      "id": 3,
      "value": "Magenta"
    }
  ]
}]]></Config>
</DataType>