<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0532825c-ab5a-4460-ac27-76eb1da41257" Alias="Tour - Nested Content" Level="1">
  <Info>
    <Name>Tour - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "orchestra",
      "ncTabAlias": "Interpreter Data",
      "nameTemplate": ""
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>