<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9db67d70-a475-4ead-bd2d-379194377d66" Alias="TourEvent - Location - Content Picker" Level="1">
  <Info>
    <Name>TourEvent - Location - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": true,
  "StartNodeId": "umb://document/7ee5d208b964400b89d872151e9dd676",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>