<?xml version="1.0" encoding="utf-8"?>
<DataType Key="82620682-a509-4a20-bf14-87d1ed7cc21e" Alias="Video Component - Media Picker" Level="1">
  <Info>
    <Name>Video Component - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>