<?xml version="1.0" encoding="utf-8"?>
<DataType Key="143da7cf-b80b-4cad-be78-b98b52abca7d" Alias="Video Komponente - Numeric" Level="1">
  <Info>
    <Name>Video Komponente - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>