<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6cd55fb7-bd38-4272-81f0-a24678e07fc3" Alias="Video Komponente - Height - Numeric" Level="1">
  <Info>
    <Name>Video Komponente - Height - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>