<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3c4de717-9524-4812-84df-45e76db535da" Alias="Video Komponente - Width - Numeric" Level="1">
  <Info>
    <Name>Video Komponente - Width - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>