<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4b5c24ff-fd22-406d-b04e-5a0bae6932e9" Alias="Video Component - Emedded - Markdown editor" Level="1">
  <Info>
    <Name>Video Component - Emedded - Markdown editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisplayLivePreview": false,
  "DefaultValue": null
}]]></Config>
</DataType>