<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1734432a-00fd-46b9-9949-29118f1b38b2" Alias="sr.ImageHotspot.openHotspot" Level="0">
  <Info />
  <Translations>
    <Translation Language="de-CH">öffne Hotspot</Translation>
    <Translation Language="en-US"></Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>