<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="10c0b4e6-2a44-42e1-8524-5c88c6f0deb7" Alias="sr.ImageHotspot.closeHotspot" Level="0">
  <Info />
  <Translations>
    <Translation Language="de-CH">schliesse Hotspot</Translation>
    <Translation Language="en-US"></Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>