<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
	<TelemetryInitializers>
		<Add Type="Microsoft.ApplicationInsights.Web.AzureAppServiceRoleNameFromHostNameHeaderInitializer, Microsoft.AI.Web"/>
	</TelemetryInitializers>
  <InstrumentationKey>e0a4a4e8-ad44-4fe9-b8f5-cd8bcbf870ee</InstrumentationKey>
</ApplicationInsights>