@using ClientDependency.Core.Mvc
@using Dit.Umb.Mutobo.PageModels
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Dit.Umb.Mutobo.PageModels.ContentPage>
@{



    Layout = "WCBasePage.cshtml";

}

<o-body>
    @Html.Partial("~/Views/Partials/ArticleContent.cshtml", Model)

    <div>
        @Html.Raw(Model.MainContent)
    </div>
    
    @if (Model.Modules != null && Model.Modules.Any())
    {
        foreach (var module in Model.Modules)
        {
            @module.RenderModule(this.Html)
        }
    }
</o-body>