@* the fun starts here *@

@using System.CodeDom
@using ClientDependency.Core.Mvc
@using Dit.Umb.ToolBox.Common.Extensions
@using Dit.Umb.ToolBox.Models.PageModels
@using Dit.Umb.ToolBox.Services.Impl
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Dit.Umb.ToolBox.Models.PageModels.ContentPage>
@{



    Layout = "WCBasePage.cshtml";

}
@section CustomElementsDefine {
    <script>
        [
            ['p-general', General],
            ['o-header', Header],
            ['a-logo', Logo],
            ['m-navigation', Navigation],
            ['o-body', Body],
            ['o-stage', Stage],
            ['o-highlight-list', HighlightList],
            ['m-highlight', Highlight],
            ['o-footer', Footer],
            ['m-flyer', Flyer],
            ['a-picture', Picture],
            ['m-teaser', Teaser],
            ['o-teaser-wrapper', TeaserWrapper],
            ['o-intersection-scroll-effect', IntersectionScrollEffect],
            ['third-party-macro-carousel', MacroCarousel]
        ].forEach(element => {
            // don't define already existing customElements
            if (element && !customElements.get(element[0])) customElements.define(...element)
        })
    </script>
}
<o-body>
    <main>
        @if (Model.Modules != null && Model.Modules.Any())
        {
            @Html.RenderModules(Model.Modules)

        }
    </main>
</o-body>