<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- Log to Azure Table Storage-->
  <add key="UseAzureTableLogs" value="false"/>
  <!-- ConnectionString for the Azure Storage Account for Logging-->
  <add key="AzureConnectionString" value="[YourAzurCOnnectionString]" />
  <!-- Name of the Azure Table Storage for logging-->
  <add key="LogStorageTableName" value="[AzureTableStorageName]" />

  <!-- Start Settings for Azure AD Login into Umbraco Backend -->
  <!--<add key="owin:appStartup" value="UmbracoStandardOwinStartup" />
  <add key="azureAd:clientId" value="[AzureClientId]"/>
  <add key="azureAd:tenantId" value="[AzureTenantId]"/>
  <add key="azureAd:redirectUrl" value="https://Project-Url/umbraco"/>
  <add key="azureAd:DenyLocalLogin" value="false"/>
  End Settings Azure AD Login -->

</appSettings>