<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- Log to Azure Table Storage-->
  <add key="UseAzureTableLogs" value="false"/>
  <!-- ConnectionString for the Azure Storage Account for Logging-->
  <add key="AzureConnectionString" value="[YourAzurCOnnectionString]" />
  <!-- Name of the Azure Table Storage for logging-->
  <add key="LogStorageTableName" value="[AzureTableStorageName]" />
  <!-- 2 Factor Authentication Settings-->
  <add key="TfaApplicationName" value="Mutobo" />
</appSettings>