<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="846ab079-dc40-4d72-aaa6-b274ba91145a" Alias="articlePage" Level="2">
  <Info>
    <Name>Artikel Seite</Name>
    <Icon>icon-article color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Eine Standard Artikelseite. Bestehend aus Titel, Emotionsbildern, Anriss- und Haupttext.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="20097921-4c72-4704-8e96-f679babbb13c">basePage</Parent>
    <Compositions>
      <Composition Key="20097921-4c72-4704-8e96-f679babbb13c">basePage</Composition>
    </Compositions>
    <DefaultTemplate>WCArticlePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07cf33e9-c5da-4ecc-9cc2-94b1d10241e6">WCArticlePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="846ab079-dc40-4d72-aaa6-b274ba91145a" SortOrder="0">articlePage</ContentType>
    <ContentType Key="ef7135c1-6832-4d21-be5a-e4f3213f2fc7" SortOrder="1">contentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3afb731d-6fdc-46f4-a8f0-8322fd6c12cf</Key>
      <Name>Anrisstext der Seite</Name>
      <Alias>abstract</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier kann ein kurzer Text Erfasst werden.
Dieser wird auf der Website verwendet als:

- Einleitungstext auf Detailseiten
- Anrisstext auf Teasern]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Inhaltsdaten</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>15c2963c-f99b-48b4-9a4c-ff17a5bb5692</Key>
      <Name>Emotionsbilder</Name>
      <Alias>emotionImages</Alias>
      <Definition>9dbbcbbb-2327-434a-b355-af1b84e5010a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier können dem Artikel eins, oder mehrere Emotionsbilder erfasst werden. Diese  werden verwendet auf Detailansichten oder in Teasern. Für Teaser wird jeweils das erste Bild verwendet.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Inhaltsdaten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>53e62e54-5c4e-4ce6-87a5-8532f13cb095</Key>
      <Name>Anrisstext verstecken</Name>
      <Alias>hideAbstract</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier kann der Anrisstext der Seite ausgebledet werden.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Inhaltsdaten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f062e2e5-d2ea-48b1-8e8a-170ae356b862</Key>
      <Name>Hauptinhalt der Seite</Name>
      <Alias>mainContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier kann mittels Richtext-Editor der Haupttext der Seite erfasst werden. Dieser kann auch Bilder, Links und Auflistungen enthalten.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Inhaltsdaten</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Inhaltsdaten</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>