<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="20097921-4c72-4704-8e96-f679babbb13c" Alias="basePage" Level="1">
  <Info>
    <Name>Basis Seite</Name>
    <Icon>icon-navigation-down color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Basis für alle Seitentypen</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>WCBasePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="18cf14e9-89d0-4337-bac3-5590f2053e8c">WCBasePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5e73bfd1-1088-42b6-bcf0-478f0e56c33b</Key>
      <Name>Aus Sitemap ausschliessen</Name>
      <Alias>excludeFromXMLSitemap</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Mit diesem Schalter kann die Seite aus der XML-Sitemap für Suchmaschinen ausgeschlossen werden.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Suchmaschinen Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>64b8d850-031d-452f-b792-10bc36f0f640</Key>
      <Name>Seiten-Footer Konfiguration</Name>
      <Alias>footerConfiguration</Alias>
      <Definition>1e875743-6b13-4292-a6d1-e513db8affac</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier kann ein Footer-Konfiguration für die Seite angelegt werden. Diese wird in der Content-Struktur nach unten vererbt.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Erscheinungsbild</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5e1c3048-0aaf-4e0e-afce-37a171ad0f1c</Key>
      <Name>Google Analytics Code</Name>
      <Alias>googleAnalyticsKey</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dieses Feld Muss nur auf der HomePage abgefüllt werden, es wird nach unten vererbt.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Suchmaschinen Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>251c85fa-5ed2-4fa1-9174-a15602a0d64e</Key>
      <Name>Seiten-Header Konfiguration</Name>
      <Alias>headerConfiguration</Alias>
      <Definition>011fb59c-77a8-4717-8516-a735c7b3ad0b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier kann ein Header-Konfiguration für die Seite angelegt werden. Diese wird in der Content-Struktur nach unten vererbt.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Erscheinungsbild</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e4fcc87e-8380-4b1b-b2b8-2f9ef7f04833</Key>
      <Name>Aus Navigation ausblenden</Name>
      <Alias>hideFromNavigation</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ist dieser Schalter aktiviert wird diese Seite aus allen Navigationen ausgeblendet.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Navigations Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4d319d6d-885b-4b1a-860f-00ae35b4a6a3</Key>
      <Name>Meta Tag 'Description'</Name>
      <Alias>metaDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier kann eine Beschreibung der Seite für Suchmaschinen angegeben werden. Das Feld wird in der Seitenstruktur nach unten vererbt.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Suchmaschinen Daten</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2c2d1444-e819-4dcd-b4bb-4b1e20461fde</Key>
      <Name>Meta Tag 'Keywords'</Name>
      <Alias>metaKeywords</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier können Schlüsselworte zu dieser Seite erfasst werden. Diese Schlüsselworte werden von Suchmaschinen indexiert. Schlüsselworte werden in der Seitenstruktur nach unten vererbt. Bitte die Schlüsselworte Komagetrennt eingeben.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Suchmaschinen Daten</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f78e0b4c-652c-40bc-9431-b0cebed62d73</Key>
      <Name>Meta Tag 'Titel'</Name>
      <Alias>metaTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier kann ein Titel der Seite für Suchmaschinen angegeben werden. Das Feld wird in der Seitenstruktur nach unten vererbt.

Wird kein hier kein Titel eingegeben, dann wird der Seitentitel verwendet.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Suchmaschinen Daten</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ccb7cf40-433f-4edd-91b5-8034e80802bd</Key>
      <Name>In neuem Fenster öffnen</Name>
      <Alias>newWindow</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ist dieser Schalter gesetzt, öffnet die Seite in einem neuen Fenster. Dies gilt für alle Navigationen und Teaser. Ausnahme: wenn ein Umleitungslink gesetzt ist, gilt die Einstellung innerhalb des Umleitungs-Links.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Navigations Einstellungen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9a750ee6-d96f-4e14-a86b-cbf95afa26e0</Key>
      <Name>Nicht Klickbar</Name>
      <Alias>notClickable</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ist dieser Schalter aktiviert, ist diese Seite in allen Navigationennicht klickbar.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Navigations Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5330c5fe-8415-4b1d-9b67-eeda0d9831fd</Key>
      <Name>Seitentitel</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dieser Titel wird im Normalfall als H1-Element auf der Seite ausgegeben. Er dient auch als Seitenname in Navigationen und Teasern.

Bei Sparx-Projektseiten ist dies der Projekttitel]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Inhaltsdaten</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a0cd975b-de18-45db-ae33-2900e38604c2</Key>
      <Name>Umleitungs-Link</Name>
      <Alias>redirectLink</Alias>
      <Definition>c2ebf7df-c765-407a-b81a-a82466a23cb9</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ist hier ein Link gesetzt, fungiert diese Seite nur als Umleitungsseite auf den gesetzten Link. Statt einer Detailansicht wird immer umgeleitet auf die gesetzte Seite. Dies gilt für alle Navigationen und Teaser.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Navigations Einstellungen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5b8e333d-9e91-41d9-a3c4-2652e101476c</Key>
      <Name>Suchmaschinenfrequenz</Name>
      <Alias>searchEngineFrequency</Alias>
      <Definition>533ff1bd-f41a-4e39-a818-c47613b15c95</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier kann die Frequenz, mit welcher die Seite von Suchmaschinen indiziert werden soll eingestellt werden.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Suchmaschinen Daten</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>90bebce7-4399-4e5b-b597-4d1ec4bae0d1</Key>
      <Name>Relative Suchmaschinen Priorität</Name>
      <Alias>searchEngineRelativePriority</Alias>
      <Definition>6bdebf01-5724-406c-accf-85a453ce5342</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier wir die relative Priorität der Seite im Verhältnis zu anderen Seiten diese Website eingestellt. Dieses Feature wird von Google noch nicht unterstützt.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Suchmaschinen Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c4fd1b94-4f23-4b1f-952e-3ea204d8d26e</Key>
      <Name>Theme</Name>
      <Alias>theme</Alias>
      <Definition>adc2d113-686d-46da-8794-f30e1933873b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier kann ein Theme gesetzt werden, welches die Standard-Farbe der Seite übersteuern kann. Themes werden in der Content-Struktur nach unten vererbt.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Erscheinungsbild</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e5553dd4-fc3b-43f8-a0bf-01c5ef1e8b31</Key>
      <Name>Thumbnail</Name>
      <Alias>thumbnail</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Wird bei der Googlesuche als Vorschaubild gezeigt die Grösse ist fix auf 300 x 300px]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Suchmaschinen Daten</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Inhaltsdaten</Caption>
      <SortOrder>-10</SortOrder>
    </Tab>
    <Tab>
      <Caption>Suchmaschinen Daten</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Navigations Einstellungen</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Erscheinungsbild</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>