<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6d5b202b-27b3-4f72-a30b-d8a54541e275" Alias="blogModule" Level="2">
  <Info>
    <Name>BlogModule</Name>
    <Icon>icon-newspaper color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions>
      <Composition Key="1cd1cbab-e5f2-4b03-81e9-12e776122c5b">module</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a2a9ceba-ecd9-45fa-a3ca-e7e36b230e69</Key>
      <Name>parentPage</Name>
      <Alias>parentPage</Alias>
      <Definition>aaf27d2c-e7af-4966-942e-41f78439a863</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Module Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>