<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2235baf7-2ffd-4367-8bf0-4c66f71795a4" Alias="blogPage" Level="2">
  <Info>
    <Name>Blog Page</Name>
    <Icon>icon-ordered-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Seite zeigt Ihre Unterseiten auf einer Seite die Unterseiten werden in der Navigation Links mit Anker zum Seitentitel ausgegeben</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="20097921-4c72-4704-8e96-f679babbb13c">basePage</Parent>
    <Compositions>
      <Composition Key="20097921-4c72-4704-8e96-f679babbb13c">basePage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ef7135c1-6832-4d21-be5a-e4f3213f2fc7" SortOrder="0">contentPage</ContentType>
    <ContentType Key="846ab079-dc40-4d72-aaa6-b274ba91145a" SortOrder="1">articlePage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>