<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="90e7ab8f-e1ba-48ca-a51c-f19843eeb014" Alias="card" Level="2">
  <Info>
    <Name>Card</Name>
    <Icon>icon-credit-card-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b6cdcad1-fb69-4f03-8bcd-e12039edbd89</Key>
      <Name>DetailPageLink</Name>
      <Alias>detailPageLink</Alias>
      <Definition>6e035486-f901-49a2-8172-9fb58b28f37a</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Card Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d66d28e8-afb6-4d5a-82f3-9bbba7f9f51a</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>bb0ed4f5-7ba2-4f23-9309-6ced156dff10</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Card Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Card Data</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>