<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7cddb020-f11e-4481-b83c-e9c8ff44fd8d" Alias="configurationFolder" Level="2">
  <Info>
    <Name>Configuration Folder</Name>
    <Icon>icon-folder-open color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Config+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6bea21c3-c10e-4732-8bdf-25d2f8b8474d" SortOrder="0">headerConfiguration</ContentType>
    <ContentType Key="4026a89e-1516-4ace-a8fc-31174651d362" SortOrder="1">footerConfiguration</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>