<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ef7135c1-6832-4d21-be5a-e4f3213f2fc7" Alias="contentPage" Level="3">
  <Info>
    <Name>Inhaltsseite mit Modulfeld</Name>
    <Icon>icon-thumbnail-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="846ab079-dc40-4d72-aaa6-b274ba91145a">articlePage</Parent>
    <Compositions>
      <Composition Key="846ab079-dc40-4d72-aaa6-b274ba91145a">articlePage</Composition>
    </Compositions>
    <DefaultTemplate>WCContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="10831875-6489-472b-a120-98bb6925f2d4">WCContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c8e87f34-421b-4727-8c3a-fca02bf74335</Key>
      <Name>Hauptinhalts Module</Name>
      <Alias>modules</Alias>
      <Definition>2aba5fca-46ab-457e-8d4f-76b299e6032d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Diese Inhaltsmodule, welche im Hauptinhaltsbereich der Seite gerendert.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Inhaltsdaten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Inhaltsdaten</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>