<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c94e56a3-6d95-433b-80bf-6aa7f54594b1" Alias="email" Level="2">
  <Info>
    <Name>Email</Name>
    <Icon>icon-folder-open color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Folder+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a9b189a8-c387-4e15-8d7f-beba6a5ab9a7" SortOrder="0">mailConfiguration</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>