<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="26256e61-0d17-4ef3-a270-e1255797ee2d" Alias="facts" Level="3">
  <Info>
    <Name>Facts</Name>
    <Icon>icon-books color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="846ab079-dc40-4d72-aaa6-b274ba91145a">articlePage</Parent>
    <Compositions>
      <Composition Key="846ab079-dc40-4d72-aaa6-b274ba91145a">articlePage</Composition>
    </Compositions>
    <DefaultTemplate>Facts</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019ec5a0-f5cc-4a0a-a522-bbf8becd26e8">Facts</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>651992e3-0db6-46d7-ad2c-02dbbc7dc076</Key>
      <Name>Knopf</Name>
      <Alias>button</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Der Inhalt des Knopfes für einen random Fact]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Seiteninhalt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>12dc21ae-e5b9-4395-810b-dc5aaf53d324</Key>
      <Name>Fact</Name>
      <Alias>fact</Alias>
      <Definition>26d1de25-a7ab-4786-9c9b-f2629f055387</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Seiteninhalt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Seiteninhalt</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>