<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="65f28391-c913-45bf-8c88-14c4c69d5dd9" Alias="flyer" Level="2">
  <Info>
    <Name>Flyer</Name>
    <Icon>icon-logout color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cc564779-2676-4adf-b637-e0479788deba</Key>
      <Name>Color</Name>
      <Alias>color</Alias>
      <Definition>0500a64e-071f-4c8c-863b-216a38b8ec60</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Flyer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>a499f2a4-4a4f-4f4a-aa3f-9f96dbcd4c35</Key>
      <Name>Direction</Name>
      <Alias>direction</Alias>
      <Definition>135e2457-ddac-4781-a7c9-cc504f1d6acd</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Flyer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>df57bca9-3726-4c81-b6a2-c7734470dbfd</Key>
      <Name>Image</Name>
      <Alias>flyerImage</Alias>
      <Definition>134b5861-aece-438e-98c4-18c333c14791</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Flyer</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>d8dbf092-279c-482c-b23d-b4f913c2f8b8</Key>
      <Name>Text</Name>
      <Alias>flyerTeaserText</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Flyer</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>2280dfde-fa85-4106-b48f-5b398c56efa5</Key>
      <Name>Title</Name>
      <Alias>flyerTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Flyer</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>61da808c-cae2-4faf-bda5-f79383e5563b</Key>
      <Name>Height from Image</Name>
      <Alias>height</Alias>
      <Definition>e9df6e96-071a-4723-ad01-d1af58097c61</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Flyer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>eb24710f-15d6-4115-bf5d-c0f8e3d0540a</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Flyer</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>9dae6452-cd7f-4f69-81c4-03bc2dc92322</Key>
      <Name>Position</Name>
      <Alias>position</Alias>
      <Definition>413035f0-f866-4166-9631-5ae93bec4b27</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Flyer</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>5d2a5c9e-d8d2-416b-bfa1-07fcb8ac3e7f</Key>
      <Name>Rotation of Flyer</Name>
      <Alias>rotation</Alias>
      <Definition>e91c4617-9d52-4073-8fe8-0b0352c70407</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Flyer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>f01a956c-1007-4ecd-b316-40d982e79a1e</Key>
      <Name>Timer</Name>
      <Alias>timer</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[in milliseconds]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Flyer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>3150d2ae-7e23-4a41-a41e-859745d7e0ce</Key>
      <Name>Width from Image</Name>
      <Alias>width</Alias>
      <Definition>e9df6e96-071a-4723-ad01-d1af58097c61</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Flyer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Flyer</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>