<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4026a89e-1516-4ace-a8fc-31174651d362" Alias="footerConfiguration" Level="2">
  <Info>
    <Name>Footer Configuration</Name>
    <Icon>icon-download-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Config+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a17d6a63-f4ee-401c-ac6c-ddd8f32a4d1b</Key>
      <Name>Contact Area</Name>
      <Alias>contactArea</Alias>
      <Definition>a48d2d0b-53d5-44df-9b69-d570713e7672</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Footer Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>bb963eb5-79f2-411c-ba59-6d4ed24b3855</Key>
      <Name>Copyright</Name>
      <Alias>copyright</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Footer Data</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>15964134-fb2d-4a0c-ade5-6f2b7775d386</Key>
      <Name>Footer Links</Name>
      <Alias>footerLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier können Links, welche im Footer angezeigt werden erfasst werden]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Footer Data</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>ad9d1d53-e10e-43f0-afd8-18c6f72d71db</Key>
      <Name>Navigation Area</Name>
      <Alias>navigationArea</Alias>
      <Definition>73c12f65-262a-4dca-9c15-c03b10439435</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>79283e21-8fed-4976-9a05-6f1f155d2721</Key>
      <Name>PictureLinks</Name>
      <Alias>pictureLinks</Alias>
      <Definition>1d325859-6736-4674-96e4-672a5cc79203</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Footer Data</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Footer Data</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>