<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4026a89e-1516-4ace-a8fc-31174651d362" Alias="footerConfiguration" Level="2">
  <Info>
    <Name>Footer Configuration</Name>
    <Icon>icon-download-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Config+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6b0ea683-e1f1-42f2-944e-321ff00c8e5e</Key>
      <Name>Block Links</Name>
      <Alias>blockLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Footer Links, welche in der Desktop-Ansicht der Classics-Website vertikal untereinander dargestellt werden.

ACHTUNG!
Diese Links werden bei der Club-Seite nicht angezeigt.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Footer Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bb963eb5-79f2-411c-ba59-6d4ed24b3855</Key>
      <Name>Copyright</Name>
      <Alias>copyright</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Footer Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>15964134-fb2d-4a0c-ade5-6f2b7775d386</Key>
      <Name>Footer Links</Name>
      <Alias>footerLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier können Links, welche im Footer angezeigt werden erfasst werden]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Footer Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>79283e21-8fed-4976-9a05-6f1f155d2721</Key>
      <Name>PictureLinks</Name>
      <Alias>pictureLinks</Alias>
      <Definition>1d325859-6736-4674-96e4-672a5cc79203</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Footer Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Footer Data</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>