<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="39dd2af4-b20d-4e20-a01d-35da4c13618f" Alias="formPage" Level="2">
  <Info>
    <Name>FormPage</Name>
    <Icon>icon-message-unopened color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="20097921-4c72-4704-8e96-f679babbb13c">basePage</Parent>
    <Compositions>
      <Composition Key="20097921-4c72-4704-8e96-f679babbb13c">basePage</Composition>
    </Compositions>
    <DefaultTemplate>WCFormPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0b4b36f7-a372-4c0a-9683-b923274125be">WCFormPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="846ab079-dc40-4d72-aaa6-b274ba91145a" SortOrder="0">articlePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f4a73e96-7683-44bf-8a3c-2b6b30196608</Key>
      <Name>Label Address</Name>
      <Alias>labelAddress</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Form Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e09e6ae8-21ec-4e5e-bbfd-c324408f1c67</Key>
      <Name>Label Firstname</Name>
      <Alias>labelFirstname</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Form Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f3b1042e-27f5-43ce-b979-cee10bcebca0</Key>
      <Name>Label Mail</Name>
      <Alias>labelMail</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Form Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6813c85c-68b6-4d7c-9a96-92aafc8fd5ca</Key>
      <Name>Label Message</Name>
      <Alias>labelMessage</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Form Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bff40e7a-2de3-4bd2-9269-295c26376de5</Key>
      <Name>Label Name</Name>
      <Alias>labelName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Form Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cd6c4a6a-63c0-4438-9f79-ee3dd4db7c74</Key>
      <Name>Label Phone</Name>
      <Alias>labelPhone</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Form Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d1d73027-416b-44d4-842e-4fe527399a12</Key>
      <Name>Label Zip City</Name>
      <Alias>labelZipCity</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Form Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a6fda17f-cbb7-444d-9a1f-105f21405822</Key>
      <Name>Mailkonfiguration Kunde</Name>
      <Alias>mailConfigurationCustomer</Alias>
      <Definition>ac095e6b-e617-4252-b20a-bec291a82755</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Form Konfiguration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ffd36f7f-65ce-49e3-a3a4-60c408061b19</Key>
      <Name>Mailkonfiguration Empfänger</Name>
      <Alias>mailConfigurationReceiver</Alias>
      <Definition>ac095e6b-e617-4252-b20a-bec291a82755</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Form Konfiguration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7ecad637-e7ff-4d7d-a801-11585b5f301c</Key>
      <Name>SuccessPage</Name>
      <Alias>successPage</Alias>
      <Definition>2d8dd7d2-66c2-4711-b0bd-ccaaf5a24660</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Form Konfiguration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Form Daten</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Form Konfiguration</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>