<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3597a0ce-96ac-4ea8-8d0a-c5d5f835e9d3" Alias="fourColumnContainer" Level="2">
  <Info>
    <Name>4-Spaltiger Container</Name>
    <Icon>icon-files color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions>
      <Composition Key="1cd1cbab-e5f2-4b03-81e9-12e776122c5b">module</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f63559f3-c202-47f3-8537-5b6780e59da2</Key>
      <Name>Elements</Name>
      <Alias>elements</Alias>
      <Definition>de339c6e-a1b0-47d3-84b6-f21d55f6b8e3</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Module Settings">Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Module Settings</Caption>
      <SortOrder>0</SortOrder>
      <Alias>Module Settings</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>