<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6a74ec99-7321-482a-a326-8595e906f60a" Alias="global" Level="2">
  <Info>
    <Name>Global</Name>
    <Icon>icon-globe-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Folder+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="7d649eb3-538e-467d-a836-b783e13e9d75" SortOrder="0">teasers</ContentType>
    <ContentType Key="32a5d802-a830-4e98-826a-685de06d4534" SortOrder="1">tours</ContentType>
    <ContentType Key="c94e56a3-6d95-433b-80bf-6aa7f54594b1" SortOrder="2">email</ContentType>
    <ContentType Key="2e8ba978-1992-4499-8f5e-3007a9d33f97" SortOrder="3">projectTopics</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>