<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6bea21c3-c10e-4732-8bdf-25d2f8b8474d" Alias="headerConfiguration" Level="2">
  <Info>
    <Name>Header Configuration</Name>
    <Icon>icon-page-down color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Config+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c645f55f-2dd5-4373-8f31-5fbadf0aa434</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Header Data</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage>Logo Feld muss gefüllt werden</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fecc2bad-2ae8-4ee1-9d5f-c9fb0d4b269e</Key>
      <Name>LogoUrl</Name>
      <Alias>logoUrl</Alias>
      <Definition>6e035486-f901-49a2-8172-9fb58b28f37a</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Header Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Header Data</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>