<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b5fbbce4-6aae-4359-b8ae-c2bbce1d24bb" Alias="heading" Level="2">
  <Info>
    <Name>Titel</Name>
    <Icon>icon-remove color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Kann in einem Modulfeld gesetzt werden. (wenn auf einer 'Anker Modulseite' kann ein Anker definiert werden, welcher inder Navi angezeigt wird)</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions>
      <Composition Key="1cd1cbab-e5f2-4b03-81e9-12e776122c5b">module</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a5d66bf4-68ff-4aa6-9db9-9e0fb6e9f914</Key>
      <Name>Darstellen als</Name>
      <Alias>renderAs</Alias>
      <Definition>4cbd1a90-f8c0-4376-8a8a-cc3d5419b3cf</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier kann definier werden als welcher HTML-Headingtag (H1-H6) der Titel dargestellt werden soll.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="Module Settings">Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>10334ea5-be0f-4eee-8ed7-c25351764efd</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Der Text, welcher als Titel angezeigt werden soll.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="Module Settings">Module Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Module Settings</Caption>
      <SortOrder>0</SortOrder>
      <Alias>Module Settings</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>