<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1248d6a1-0316-46d6-b060-85dd4d758f57" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="20097921-4c72-4704-8e96-f679babbb13c">basePage</Parent>
    <Compositions>
      <Composition Key="20097921-4c72-4704-8e96-f679babbb13c">basePage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="075953c9-d40e-49a7-9940-9b00c1f3e75d">WCHomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d933e00e-de44-4f3a-a42f-ff39ee5a31d4" SortOrder="0">searchResults</ContentType>
    <ContentType Key="441ce016-5aa1-48cb-b657-a9187b7b9aaf" SortOrder="1">xmlSiteMap</ContentType>
    <ContentType Key="39dd2af4-b20d-4e20-a01d-35da4c13618f" SortOrder="2">formPage</ContentType>
    <ContentType Key="217db06b-3117-46eb-8fa2-5ce3823abd25" SortOrder="3">sparxContentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>61686fdd-0f0a-44ce-84e1-46c30b10d88a</Key>
      <Name>Modules</Name>
      <Alias>modules</Alias>
      <Definition>2aba5fca-46ab-457e-8d4f-76b299e6032d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier können Module in den Hauptbereich der Seite gesetzt werden]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Inhaltsdaten</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Inhaltsdaten</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>