<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1248d6a1-0316-46d6-b060-85dd4d758f57" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="20097921-4c72-4704-8e96-f679babbb13c">basePage</Parent>
    <Compositions>
      <Composition Key="20097921-4c72-4704-8e96-f679babbb13c">basePage</Composition>
    </Compositions>
    <DefaultTemplate>WCClassicsHomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cc94a690-8d52-4585-bb8c-03716a862f86">WCClassicsHomePage</Template>
      <Template Key="075953c9-d40e-49a7-9940-9b00c1f3e75d">WCHomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="846ab079-dc40-4d72-aaa6-b274ba91145a" SortOrder="0">articlePage</ContentType>
    <ContentType Key="d933e00e-de44-4f3a-a42f-ff39ee5a31d4" SortOrder="1">searchResults</ContentType>
    <ContentType Key="ab9464bc-8733-42e9-8706-28e9d43a0891" SortOrder="2">teaserPage</ContentType>
    <ContentType Key="441ce016-5aa1-48cb-b657-a9187b7b9aaf" SortOrder="3">xmlSiteMap</ContentType>
    <ContentType Key="f6dd1832-dcee-49a4-86e3-acdf4e51c70b" SortOrder="4">concertPlayListPage</ContentType>
    <ContentType Key="39dd2af4-b20d-4e20-a01d-35da4c13618f" SortOrder="5">formPage</ContentType>
    <ContentType Key="ef7135c1-6832-4d21-be5a-e4f3213f2fc7" SortOrder="6">contentPage</ContentType>
    <ContentType Key="2235baf7-2ffd-4367-8bf0-4c66f71795a4" SortOrder="7">blogPage</ContentType>
    <ContentType Key="2147e5bd-6042-4f75-b3c6-a2900a47daba" SortOrder="8">anchorModulePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>da75aa2c-3f2e-43e4-9f2e-1105ee12a795</Key>
      <Name>Flyer-Teaser aka. Störer</Name>
      <Alias>disturber</Alias>
      <Definition>0ef56633-ceae-4689-9b18-3b2eeb11aaed</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier können die Flyer-Teaser (aka. Störer) erfasst und konfiguriert werden.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Inhaltsdaten</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>60630ff4-b0d7-489f-9af8-a576b24e47c3</Key>
      <Name>Slogan Sub-Titel</Name>
      <Alias>sloganSubTitle</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Wird auf allen Seiten als Untertitel ausgegeben]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Globaler Slogan</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>50565992-ad58-42d4-9108-328ea6dfa637</Key>
      <Name>Slogan Titel</Name>
      <Alias>sloganTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dieser Titel wird auf allen Seiten ausgegeben]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Globaler Slogan</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Inhaltsdaten</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Globaler Slogan</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>