<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f2475666-b3e5-4370-b2f2-11b7f70beff0" Alias="hotspotContainer" Level="2">
  <Info>
    <Name>Hotspot Container</Name>
    <Icon>icon-custom-hotspot-container color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c8040e77-2452-4d0e-b5aa-f2c0c6183bce</Key>
      <Name>Hotspot</Name>
      <Alias>hotspot</Alias>
      <Definition>17422e3d-5924-431d-baf3-7440f20aa356</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="moduleSettings">Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>249138d2-2c57-403a-9e3a-43e83938e5ac</Key>
      <Name>Place</Name>
      <Alias>place</Alias>
      <Definition>33843d85-28ad-4e0f-b440-f8cdc94c5f46</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="moduleSettings">Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4d497835-9460-4f0c-9de0-ec660472f1f0</Key>
      <Name>Position</Name>
      <Alias>position</Alias>
      <Definition>f8fab13b-64b9-4226-8f81-083f140ec929</Definition>
      <Type>Vokseverk.ImageHotspot</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="moduleSettings">Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Module Settings</Caption>
      <SortOrder>0</SortOrder>
      <Alias>moduleSettings</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>