<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5ec88f90-9c88-4684-bc25-25fd894fdf41" Alias="imageHotspots" Level="2">
  <Info>
    <Name>Image-Hotspots</Name>
    <Icon>icon-folder-close color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Folder+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="9d3268d5-2391-44fd-89e9-bc32a88fda48" SortOrder="0">imageHotspot</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>