<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a810bde8-32d2-4ea2-90ac-eccc629c2b2c" Alias="imageMitHotspots" Level="2">
  <Info>
    <Name>Image mit Hotspots</Name>
    <Icon>icon-custom-image-hotspot color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions>
      <Composition Key="1cd1cbab-e5f2-4b03-81e9-12e776122c5b">module</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>732e9520-9ebd-40f0-a8af-3a402bb963c1</Key>
      <Name>Hotspots</Name>
      <Alias>hotspots</Alias>
      <Definition>3e60432f-06eb-4d1c-8853-962131347809</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="moduleSettings">Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>29bfe178-8ce5-4cae-9978-52eb511b4dd2</Key>
      <Name>Bild</Name>
      <Alias>image</Alias>
      <Definition>134b5861-aece-438e-98c4-18c333c14791</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="moduleSettings">Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Module Settings</Caption>
      <SortOrder>0</SortOrder>
      <Alias>moduleSettings</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>