<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="caac045d-659e-4c7f-99fb-b4740539347b" Alias="sliderMitTabs" Level="2">
  <Info>
    <Name>Slider mit Tabs</Name>
    <Icon>icon-playing-cards color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions>
      <Composition Key="1cd1cbab-e5f2-4b03-81e9-12e776122c5b">module</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>28c7e214-d949-4699-8f27-40afedb024bf</Key>
      <Name>Hintergrund Farbe</Name>
      <Alias>backgroundColor</Alias>
      <Definition>7f93cf38-f446-4239-889c-366caa6e10c9</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="Module Settings">Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>77a96c74-890f-47ad-aa1a-324fb03e2554</Key>
      <Name>Hintergrund Fix</Name>
      <Alias>backgroundFix</Alias>
      <Definition>8d9a468d-c42f-463b-8906-3ed1f4f94460</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Der Hintergrund des Tabs wird überschrieben]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="Module Settings">Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8378fb31-da73-4af3-8eb8-21f65b230dd9</Key>
      <Name>Hintergrund Bild</Name>
      <Alias>backgroundImg</Alias>
      <Definition>134b5861-aece-438e-98c4-18c333c14791</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="Module Settings">Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ee83ee94-eee2-4737-a2f9-5cdf9cbf78b6</Key>
      <Name>Info</Name>
      <Alias>info</Alias>
      <Definition>e0a998ff-6d47-4836-89f9-1a846d105885</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="Module Settings">Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>850e7e8d-9d3a-4fbb-bb0f-2fd9d08e3f58</Key>
      <Name>Tabs</Name>
      <Alias>tabs</Alias>
      <Definition>6e57c3fc-407d-4128-9697-f8281e1a7c93</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="Module Settings">Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1b33e881-5b71-4282-8518-254095d43d67</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="Module Settings">Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Module Settings</Caption>
      <SortOrder>0</SortOrder>
      <Alias>Module Settings</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>