<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="36535b55-fe34-4003-958f-7a5378fef10c" Alias="sliderComponent" Level="2">
  <Info>
    <Name>Galeriekomponente</Name>
    <Icon>icon-playing-cards color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Kann in einem Modulfeld gesetzt werden.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions>
      <Composition Key="1cd1cbab-e5f2-4b03-81e9-12e776122c5b">module</Composition>
      <Composition Key="9fac9238-f05d-414f-9634-1c3d42584100">sparxModule</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>64e7a07a-527c-425b-85b4-7dc151a4feca</Key>
      <Name>DisplayType</Name>
      <Alias>displayType</Alias>
      <Definition>1a346b23-ea7e-4d5f-a36b-bdb8bc066285</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1fae91ea-5b73-43a9-9056-62169dca7356</Key>
      <Name>Höhe der Galerie in Pixel</Name>
      <Alias>height</Alias>
      <Definition>2944246d-d0de-404a-a2ac-06ce7f9bdfb6</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>65fdfa46-70f0-4f6c-ac01-e88a0eaba943</Key>
      <Name>Intervall des Bildwechsels in ms</Name>
      <Alias>interval</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>12dffe46-a705-48f9-b4f2-d43576f5c560</Key>
      <Name>Galerie Slides</Name>
      <Alias>slides</Alias>
      <Definition>fb07f534-9290-46bd-b8cf-b9161781dc31</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier können einzelne 'Seiten' der Galerie bestückt werden]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>50d6a82f-1ee1-4749-98ef-7ded3063d89e</Key>
      <Name>Breite der Galerie in Pixel</Name>
      <Alias>width</Alias>
      <Definition>6c3ea04f-5ab0-4a5d-8dae-ead3fa31de01</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Module Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>