<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f4f5efcf-85d4-41fd-8d6c-01d7f4acadc8" Alias="sliderTab" Level="2">
  <Info>
    <Name>Slider Tab</Name>
    <Icon>icon-post-it color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2c90db0c-19ad-4174-8abd-8197f20a0df3</Key>
      <Name>Hintergrund Farbe</Name>
      <Alias>backgroundColor</Alias>
      <Definition>7f93cf38-f446-4239-889c-366caa6e10c9</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="modulSettings">Modul Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e133add0-1cac-49d8-a04a-e46e469954e9</Key>
      <Name>Hintergrund Bild</Name>
      <Alias>backgroundImg</Alias>
      <Definition>134b5861-aece-438e-98c4-18c333c14791</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="modulSettings">Modul Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5c724964-f72e-4e45-a181-fe5e5f212088</Key>
      <Name>Media</Name>
      <Alias>media</Alias>
      <Definition>5b87baa5-2d89-466b-b59d-8d658763371d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="modulSettings">Modul Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>50fbdff3-eb38-4a48-9933-5ec4dfebc125</Key>
      <Name>Module</Name>
      <Alias>modules</Alias>
      <Definition>c83d62b9-80cf-4a7f-b9e4-d82409e374df</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="modulSettings">Modul Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7c75eb47-2222-4a67-86b9-c1d77bf99f58</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="modulSettings">Modul Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Modul Settings</Caption>
      <SortOrder>0</SortOrder>
      <Alias>modulSettings</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>