<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="59754314-d607-4df7-a802-e3c4e7a4aef7" Alias="sliderTabs" Level="2">
  <Info>
    <Name>Slider-Tabs</Name>
    <Icon>icon-playing-cards color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Folder+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f4f5efcf-85d4-41fd-8d6c-01d7f4acadc8" SortOrder="0">sliderTab</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>