<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7d649eb3-538e-467d-a836-b783e13e9d75" Alias="teasers" Level="2">
  <Info>
    <Name>Teasers</Name>
    <Icon>icon-folder-close color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Folder+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="846ab079-dc40-4d72-aaa6-b274ba91145a" SortOrder="0">articlePage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>