<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ab9464bc-8733-42e9-8706-28e9d43a0891" Alias="teaserPage" Level="3">
  <Info>
    <Name>Teaser Page</Name>
    <Icon>icon-layout color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="846ab079-dc40-4d72-aaa6-b274ba91145a">articlePage</Parent>
    <Compositions>
      <Composition Key="846ab079-dc40-4d72-aaa6-b274ba91145a">articlePage</Composition>
    </Compositions>
    <DefaultTemplate>WCTeaserPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e7776b60-419f-4e99-afda-caa04169e70d">WCTeaserPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>01bf3978-5b8f-47cf-8d7b-42e434816727</Key>
      <Name>Teasers</Name>
      <Alias>teasers</Alias>
      <Definition>dd613763-04ca-4d3c-9629-f21385aa8b6d</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Teaser Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Teaser Page</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>