<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a80f6f69-e3d2-4bf3-bba9-09bee776c207" Alias="theme" Level="2">
  <Info>
    <Name>Theme</Name>
    <Icon>icon-theater color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>29429c95-9adf-4b25-a31b-e2a9b62cb1c7</Key>
      <Name>PageTheme</Name>
      <Alias>pageTheme</Alias>
      <Definition>c9e80dd6-a5d5-4ff7-b46d-7eec923941ea</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hintergrundfarbe der Seite]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Colors</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>