<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a80f6f69-e3d2-4bf3-bba9-09bee776c207" Alias="theme" Level="2">
  <Info>
    <Name>Theme</Name>
    <Icon>icon-theater color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>62fa9868-fe86-4eda-a776-1163b976d39c</Key>
      <Name>BackgroundColor</Name>
      <Alias>backgroundColor</Alias>
      <Definition>0500a64e-071f-4c8c-863b-216a38b8ec60</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>8e06d7ef-dbca-4de1-9218-cd680ecc3852</Key>
      <Name>Color</Name>
      <Alias>color</Alias>
      <Definition>0500a64e-071f-4c8c-863b-216a38b8ec60</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>467aa5ca-d0f7-4e97-9f3e-599300292f46</Key>
      <Name>ColorHover</Name>
      <Alias>colorHover</Alias>
      <Definition>0500a64e-071f-4c8c-863b-216a38b8ec60</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>b461ee30-41d9-49c6-b111-7251d850d0f0</Key>
      <Name>colorSecondary</Name>
      <Alias>colorSecondary</Alias>
      <Definition>0500a64e-071f-4c8c-863b-216a38b8ec60</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>0432a395-8e57-4b42-b486-50f068143384</Key>
      <Name>FontFamily</Name>
      <Alias>fontFamily</Alias>
      <Definition>77391fe8-bf10-434d-b0f4-ef0d64fd30a8</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>448d15a7-39c3-486a-81b9-76200b237227</Key>
      <Name>footerBackgroundColor</Name>
      <Alias>footerBackgroundColor</Alias>
      <Definition>0500a64e-071f-4c8c-863b-216a38b8ec60</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>49bbfec5-6f98-40d6-b0e9-26275cc87a65</Key>
      <Name>footerColor</Name>
      <Alias>footerColor</Alias>
      <Definition>0500a64e-071f-4c8c-863b-216a38b8ec60</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>d85e3281-7208-4293-8125-0c704c3961df</Key>
      <Name>footerColorHover</Name>
      <Alias>footerColorHover</Alias>
      <Definition>0500a64e-071f-4c8c-863b-216a38b8ec60</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>470f97c9-fef8-4bea-936d-8c791a3b1a22</Key>
      <Name>headerBackgroundColor</Name>
      <Alias>headerBackgroundColor</Alias>
      <Definition>0500a64e-071f-4c8c-863b-216a38b8ec60</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>8360c88a-d2f8-4c2f-933a-93cd70254ec0</Key>
      <Name>headerColor</Name>
      <Alias>headerColor</Alias>
      <Definition>0500a64e-071f-4c8c-863b-216a38b8ec60</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>949eccb0-33bc-4632-9d99-0af98f8411db</Key>
      <Name>hrColor</Name>
      <Alias>hrColor</Alias>
      <Definition>0500a64e-071f-4c8c-863b-216a38b8ec60</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>14</SortOrder>
      <Tab>Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>b21d562c-2f0e-4eaa-b308-716d6830a804</Key>
      <Name>navigationBackgroundColor</Name>
      <Alias>navigationBackgroundColor</Alias>
      <Definition>0500a64e-071f-4c8c-863b-216a38b8ec60</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>265997c1-e552-4617-9649-28581d46a86b</Key>
      <Name>navigationColor</Name>
      <Alias>navigationColor</Alias>
      <Definition>0500a64e-071f-4c8c-863b-216a38b8ec60</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>9d9b7071-3cc6-4115-8d22-1df098cee817</Key>
      <Name>navigationColorHover</Name>
      <Alias>navigationColorHover</Alias>
      <Definition>0500a64e-071f-4c8c-863b-216a38b8ec60</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>a759066e-8766-4d80-b6cc-b31e414c1650</Key>
      <Name>navigationHrColor</Name>
      <Alias>navigationHrColor</Alias>
      <Definition>0500a64e-071f-4c8c-863b-216a38b8ec60</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>13</SortOrder>
      <Tab>Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Colors</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>