<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0ca7286d-16fe-4dcb-bc75-6eda248627d7" Alias="threeColumnContainer" Level="2">
  <Info>
    <Name>3-Spaltiger Container</Name>
    <Icon>icon-files color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions>
      <Composition Key="1cd1cbab-e5f2-4b03-81e9-12e776122c5b">module</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2c937f32-a82d-4093-8b89-04009e97e376</Key>
      <Name>Elements</Name>
      <Alias>elements</Alias>
      <Definition>be914520-37db-4678-a7d1-73b0e5bbcfe1</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Module Settings">Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Module Settings</Caption>
      <SortOrder>0</SortOrder>
      <Alias>Module Settings</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>