<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3371c8f5-0037-4d37-9ac0-8403e3e57a39" Alias="twoColumnContainer" Level="2">
  <Info>
    <Name>2-Spaltiger Container</Name>
    <Icon>icon-files color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions>
      <Composition Key="1cd1cbab-e5f2-4b03-81e9-12e776122c5b">module</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>32f79b8e-6aff-4292-8194-d6dd3acd6de0</Key>
      <Name>Elements</Name>
      <Alias>elements</Alias>
      <Definition>d1b082c2-2f35-48d0-ae9e-b765fa7bb433</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Module Settings">Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Module Settings</Caption>
      <SortOrder>0</SortOrder>
      <Alias>Module Settings</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>