<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bd3b9aef-5680-45c6-942a-0416a98ee262" Alias="woodHomePage" Level="3">
  <Info>
    <Name>Wald und Wiesen Home Page</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="1248d6a1-0316-46d6-b060-85dd4d758f57">homePage</Parent>
    <Compositions>
      <Composition Key="1248d6a1-0316-46d6-b060-85dd4d758f57">homePage</Composition>
    </Compositions>
    <DefaultTemplate>WCHomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="075953c9-d40e-49a7-9940-9b00c1f3e75d">WCHomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6aacf449-871b-4858-a74b-86a21d57ce55" SortOrder="0">woodContentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>