<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6aacf449-871b-4858-a74b-86a21d57ce55" Alias="woodContentPage" Level="4">
  <Info>
    <Name>Wald und Wiesen Inhaltsseite</Name>
    <Icon>icon-tree color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="ef7135c1-6832-4d21-be5a-e4f3213f2fc7">contentPage</Parent>
    <Compositions>
      <Composition Key="ef7135c1-6832-4d21-be5a-e4f3213f2fc7">contentPage</Composition>
    </Compositions>
    <DefaultTemplate>WCContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="10831875-6489-472b-a120-98bb6925f2d4">WCContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6aacf449-871b-4858-a74b-86a21d57ce55" SortOrder="0">woodContentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>